Repository PINPLE-project/PINPLE-front, pull requests merged in 2023-07, with the labels that each got.

#5 Feat/#1 reminder UI
  app/src/main/java/com/example/pinple_aos/FragmentAdapter.kt
  app/src/main/java/com/example/pinple_aos/ReminderAdapter.kt
  app/src/main/java/com/example/pinple_aos/ReminderItem.kt
  app/src/main/java/com/example/pinple_aos/ReminderRecordAdapter.kt
  app/src/main/java/com/example/pinple_aos/ReminderRecordItem.kt
  app/src/main/java/com/example/pinple_aos/fragments/ReminderFragment.kt
  app/src/main/java/com/example/pinple_aos/fragments/ReminderListFragment.kt
  app/src/main/java/com/example/pinple_aos/fragments/ReminderRecordFragment.kt
  app/src/main/res/drawable/bottom_sheet_background.xml
  app/src/main/res/drawable/bottom_sheet_bar.xml
  app/src/main/res/drawable/circle_status_many.xml
  app/src/main/res/drawable/circle_status_middle.xml
  app/src/main/res/drawable/circle_status_toomany.xml
  app/src/main/res/drawable/icon_delete_tiny.xml
  app/src/main/res/drawable/icon_time_small.xml
  app/src/main/res/drawable/selected_tab.xml
  app/src/main/res/drawable/tab_layout_selector.xml
  app/src/main/res/drawable/tablayout.xml
  app/src/main/res/layout/fragment_calendar.xml
  app/src/main/res/layout/fragment_reminder.xml
  app/src/main/res/layout/fragment_reminder_list.xml
  app/src/main/res/layout/fragment_reminder_record.xml
  app/src/main/res/layout/reminder_list_bottom_sheet.xml
  app/src/main/res/layout/reminder_list_item.xml
  app/src/main/res/layout/reminder_record_bottom_sheet.xml
  app/src/main/res/layout/reminder_record_item.xml
  app/src/main/res/values/strings.xml
Labels: 💙FEAT, 토리🐹, 📄Reminder

#11 [Mod] 드롭다운 페이지 수정 #10
  .idea/deploymentTargetDropDown.xml
Labels: 🧡MOD, 토리🐹

#12 Feat/#4 my page UI
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  app/build.gradle
  app/src/main/java/com/example/pinple_aos/dto/MyPageMyPinAdapter.kt
  app/src/main/java/com/example/pinple_aos/dto/MyPageScrapAdapter.kt
  app/src/main/java/com/example/pinple_aos/entity/MyPin.kt
  app/src/main/java/com/example/pinple_aos/entity/Scrap.kt
  app/src/main/java/com/example/pinple_aos/fragments/MyPageFragment.kt
  app/src/main/res/drawable/ellipse_146.xml
  app/src/main/res/drawable/icon_address_tiny_acacac.xml
  app/src/main/res/drawable/icon_arrow_next.xml
  app/src/main/res/drawable/icon_edit_3.xml
  app/src/main/res/drawable/icon_pin_middle_good.xml
  app/src/main/res/drawable/icon_pin_small.xml
  app/src/main/res/drawable/icon_pin_toomany_scared.xml
  app/src/main/res/drawable/icon_recommendation.xml
  app/src/main/res/drawable/img_character_jibi.png
  app/src/main/res/drawable/mypage_header_background.xml
  app/src/main/res/drawable/mypage_mypin_background.xml
  app/src/main/res/drawable/mypage_scrap_background.xml
  app/src/main/res/font/font.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/mypage_mypin_list.xml
  app/src/main/res/layout/mypage_scrap_delete.xml
  app/src/main/res/layout/mypage_scrap_list.xml
  app/src/main/res/values/colors.xml
Labels: 💙FEAT, 카피바라🐨, 📄MyPage
